@font-face {
  font-family: 'MyriadPro-bold';
  src: url('../fonts/MYRIADAB.TTF') format('truetype'),
       url('../fonts/myriadpro-bold.otf') format('opentype'),
       url('../fonts/myriadpro-bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro';
  src: url('../fonts/MYRIADAT.TTF') format('truetype'),
       url('../fonts/myriadpro-regular.otf') format('opentype'),
       url('../fonts/myriadpro-regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro-boldcond';
  src: url('../fonts/myriadpro-boldcond.otf') format('opentype'),
       url('../fonts/myriadpro-boldcond.svg') format('svg'),
       url('../fonts/myriadpro-boldcond.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro-cond';
  src: url('../fonts/myriadpro-cond.otf') format('opentype'),
       url('../fonts/myriadpro-cond.svg') format('svg'),
       url('../fonts/myriadpro-cond.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'MyriadPro-semibold';
  src: url('../fonts/myriadpro-semibold.otf') format('opentype'),
       url('../fonts/myriadpro-semibold.svg') format('svg'),
       url('../fonts/myriadpro-semibold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #dde9f6; /*#dddddd;*/
  color: #000000;
  font-size: 18px;
  font-family: 'MyriadPro', Tahoma, Verdana, sans-serif;
  padding: 10px;
}

#pane #about,
#pane #nav {
 padding: 10px 10px 10px 10px;
}

#pane #nav { display: none; }

#pane #about {
  padding-top: 0;
}

#content > div {
 padding: 10px 10px 15px 10px;
/* border: 1px solid #cccccc;*/
}


#header,
#pane > div,
#content > div {
 background-color: #ffffff;
 margin-bottom: 20px;
 box-shadow: 2px 4px 3px #cccccc;
 border-radius: 5px;
 border-top-left-radius: 2px;
 border-top-right-radius: 2px;
}

p {
  margin-bottom: 0;
}

li img {
  vertical-align: middle;
  margin-right: .5em;
}

#about ul {
  list-style-type: none;
  padding: 0;
}

#about li {
  margin-bottom: 8px;
}

#about li .label {
  vertical-align: middle;
}

#content ul {
  margin-left: 0;
  padding-left: 30px;
}

#content ul li {
  margin-left: 0;
  padding-left: 4px;
  margin-left: -.6em;
}

ul {
  margin-bottom: 0;
}

h1 {
  font-size: 48px;
  font-family: 'MyriadPro-Bold', Tahoma, sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  margin-top: 0;
  margin-bottom: .5em;
}

#resume p {
  margin-top: .5em;
}

#resume h2:not(:first-child) {
  font-weight: normal;
  margin-bottom: 0;
  margin-top: .75em;
}

#resume .details {
  margin-top: 0;
  margin-left: 1.5em;
  font-size: 88%;
}

#resume .place {
  display: inline-block;
  vertical-align: top;
}

#resume .titles {
  display: inline-block;
}

.date {
  font-size: 85%;
  margin-left: 4px;
}

img {
  border: 0;
}

.first {
  color: #b80c00;
}

a {
  color: #b80c00; /*#bb0000;*/
  text-decoration: none;
}

a:hover,
a:active,
a:focus {
  color: #ff0000;
}

a.button:active img:active,
a.button:focus img:focus {
  position: relative;
  top: 1px;
}

a.plain,
#books .booklist a {
  color: #000000 !important;
}

strong {
  font-family: MyriadPro-bold, Verdana, Tahoma, sans-serif;
  font-weight: normal;
}
