@font-face {
  font-family: 'MyriadPro';
  src: url('../fonts/MYRIADAT.TTF') format('truetype'),
       url('../fonts/myriadpro-regular.otf') format('opentype'),
       url('../fonts/myriadpro-regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro';
  src: url('../fonts/MYRIADAB.TTF') format('truetype'),
       url('../fonts/myriadpro-bold.otf') format('opentype'),
       url('../fonts/myriadpro-bold.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro';
  src: url('../fonts/MYRIADAM.TTF') format('truetype'),
       url('../fonts/myriadpro-semibold.otf') format('opentype'),
       url('../fonts/myriadpro-semibold.svg') format('svg');
  font-weight: 600;
  font-style: normal;
}

body {
  background-color: #dde9f6;
  color: #000000;
  font-size: 18px;
  font-family: 'MyriadPro', Tahoma, Verdana, sans-serif;
  padding: 0;
  margin: 0;
  display: flex;
}

#outer {
  display: flex;
  margin: 18px;
  opacity: 1;
  transition: opacity .01s;
}

body.loading #outer {
  /* Begin with 0 opacity to avoid FOUC before fonts load. */
  opacity: 0;
}

#vitals {
  margin-right: 18px;
  flex: 0 0 400px;
}

#right {
  vertical-align: top;
  position: relative;
  min-width: 500px;
  display: inline-block;
  flex: 1;
  max-width: 1000px;
}

#vitals > div {
  padding: 15px;
}

#vitals #intro {
  padding-top: 10px;
}

#right > div {
  padding: 15px 0;
}

#right > div > * {
  padding: 0 15px;
}

#header,
#vitals > div,
#right > div {
  background-color: #ffffff;
  margin-bottom: 20px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 1px 5px 0 rgba(0, 0, 0, 0.12),
              0 3px 1px -2px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}

p {
  margin-bottom: 0;
}

h2.heading-title {
  margin-bottom: 0;
  font-size: inherit;
  margin-top: 10px;
}

#intro ul {
  list-style-type: none;
  padding: 0;
}

#intro li {
  margin-bottom: 8px;
}

#intro ul li img {
  margin-right: .5em;
}

#intro ul li a {
  display: flex;
  align-items: center;
}

#right ul {
  margin-left: 0;
  padding-left: 30px;
}

#right ul li {
  margin-left: 0;
  padding-left: 4px;
  margin-left: -.6em;
}

ul {
  margin-bottom: 0;
}

h1 {
  font-size: 48px;
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  margin-top: 0;
  margin-bottom: .5em;
}

#resume p {
  margin-top: .5em;
}

#resume h2:not(:first-child) {
  border-top: 1px solid #e8e8e8;
  font-weight: 600;
  margin-bottom: 0;
  margin-top: .5em;
  padding-top: 15px;
}

#resume .details {
  margin-top: 0;
  margin-left: 1.5em;
  font-size: 88%;
}

#resume .place {
  display: inline-block;
  vertical-align: top;
}

#resume .titles {
  display: inline-block;
}

.timeline {
  display: none;
}

img {
  border: 0;
}

a {
  color: #b80c00;
  text-decoration: none;
}

a:hover,
a:active,
a:focus {
  color: #ff0000;
}

a.button img {
  width: 32px;
  height: 32px;
}

a.button:active img:active,
a.button:focus img:focus {
  position: relative;
  top: 1px;
}

a.plain,
#books .booklist a {
  color: #000000 !important;
}

abbr[title] {
  /* Firefox and others include text-decoration: dotted underline here. Replace
   * with border-bottom to get the same look everywhere. */
  text-decoration: none !important;
  border-bottom: 1px dotted;
  cursor: help;
  display: inline-block;
  line-height: 75%;
}

.date::before {
  content: '(';
}

.date::after {
  content: ')';
}
