#info-panel .timeline {
  display: block;
}

#books .booklist {
  width: 40%;
  display: inline-block;
  vertical-align: top;
}

#books h3 {
  margin-top: 0;
}

.date {
  font-size: 84%;
  margin-left: 0.5em;
  opacity: 0.8;
}

.place:after {
  content: ':';
}

/* No bullets for first list level. */
ul {
  list-style-type: none;
}

ul ul {
  list-style-type: disc;
}

ul ul ul {
  list-style-type: circle;
}
