#pane {
  flex: 0 0 400px;
  margin-right: 18px;
}

#content {
  vertical-align: top;
  position: relative;
  min-width: 500px;
  display: inline-block;
  flex: 1;
  max-width: 1000px;
}

#books .booklist {
  width: 40%;
  display: inline-block;
  vertical-align: top;
}

#books h3 {
  margin-top: 0;
}

.date {
  font-size: 84%;
  margin-left: 0.5em;
  opacity: 0.8;
}
