#vitals .timeline {
  display: block;
}

#books .booklist {
  width: 40%;
  display: inline-block;
  vertical-align: top;
}

#books h3 {
  margin-top: 0;
}

.date {
  font-size: 84%;
  margin-left: 0.5em;
  opacity: 0.8;
}
