main {
  flex-direction: column;
}

#info-panel {
  flex: initial;
  margin-right: initial;
}

#intro ul {
  display: flex;
  flex-wrap: wrap;
}

#intro ul li {
  margin-right: 9px;
}

#intro ul li a {
  display: flex;
  align-items: center;
}

#intro ul li .label {
  display: none;
}

#intro ul + p {
  -webkit-margin-before: 5px;
}

#details-panel .timeline {
  display: block;
}

#details-panel > section .titles {
  font-weight: 600;
  margin-left: 24px;
  display: flex;
}

#details-panel > section h3 + ul {
  margin-left: 24px;
}
