main {
  flex-direction: column;
}

#info-panel {
  flex: initial;
  margin-right: initial;
}

#intro ul {
  display: flex;
  flex-wrap: wrap;
}

#intro ul li {
  margin-right: 0.5em;
}

#intro ul li a {
  display: flex;
  align-items: center;
}

#intro ul li .label {
  display: none;
}

#intro ul + p {
  -webkit-margin-before: 0.3em;
}

#details-panel .timeline {
  display: block;
}

#resume .titles {
  font-weight: 600;
  margin-left: 1.5em;
  display: flex;
}

#resume h3 + ul {
  margin-left: 1.5em;
}
